#box {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  width: 250px;
  height: 750px;
  background: rgba(255,255,255, .2);
  left: 15px;
  border-radius: 20px;

  img {
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
  }
}
#email {
  margin-left: 8px;
  margin-right: auto;
  padding: 5px;
  margin-top: 30px;
}
#getimg,
#addimg {
  margin-top: 20px;
  margin-left: 3px;
  margin-right: auto;
  border-radius: 5px;
  border: none;
  padding: 15px;
  background: #2a2a2a;
  color: #fff;
}
#addmail,
#clear-all {
  width: 150px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: auto;
  border-radius: 5px;
  border: none;
  padding: 15px;
  background: #2a2a2a;
  color: #fff;
}
.error-message {
  color: rgb(100, 4, 4); 
  display: none;
  margin-top: 15px;
  background-color: rgba(223, 175, 175, 0.55);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

#error-email {
  display: none;
  padding-right: 20px;
  margin: 20px 0;
  color: #fff;
  overflow-wrap: break-word;
  text-align: center;
}
.error {
  margin: 15px 0;
  color: red;
  text-align: center;
}

.js-hidden {
  display: none !important;
}

// .container {
//   margin: 0 50%;
//   transform: translate(50%, 0%);
// }
